<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaadikey.gaadikey.gaadikey" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.gaadikey.gaadikey.gaadikey.permission.C2D_MESSAGE" />

    <permission
        android:name="com.gaadikey.gaadikey.gaadikey.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AccessTokenActivity"
            android:label="Access Key stuff" >
        </activity>
        <activity
            android:name=".VerificationActivity"
            android:label="@string/title_activity_verification" >

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".ListMobileActivity"
            android:label="Your Contacts" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hmkcode.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmMessageHandler" />

        <activity
            android:name=".Blank"
            android:label="@string/title_activity_blank" >
        </activity>
        <activity
            android:name=".EnterPINActivity"
            android:label="@string/title_activity_enter_pin" >
        </activity>
        <activity
            android:name=".ActivityLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activity_launcher"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SettingUpActivity"
            android:label="@string/title_activity_setting_up" >
        </activity>
        <activity
            android:name=".IntroStep1"
            android:label="@string/title_activity_intro_step1" >
        </activity>
        <activity
            android:name=".IntroStep2"
            android:label="@string/title_activity_intro_step2" >
        </activity>
        <activity
            android:name=".IntroStep3"
            android:label="@string/title_activity_intro_step3" >
        </activity>
        <activity
            android:name=".StickyHome"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sticky_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PublicLaneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_public_lane"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendsLaneActivity"
            android:label="@string/title_activity_friends_lane" >
        </activity>
        <activity
            android:name=".SafetyLaneActivity"
            android:label="@string/title_activity_safety_lane" >
        </activity>
        <activity
            android:name=".ShoppinglaneActivity"
            android:label="@string/title_activity_shoppinglane" >
        </activity>
        <activity
            android:name=".TripsLaneActivity"
            android:label="@string/title_activity_trips_lane" >
        </activity>
        <activity
            android:name=".WelcomesYou"
            android:label="@string/title_activity_welcomes_you"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".LaunchActivity_NavDrawer"
            android:label=" "
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
